<ion-row>
  <ion-col>
    <ion-card>
      <ion-card-header>
        <ion-card-title><h3>Inicio de Sesión</h3></ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <form
          id="loginForm"
          [formGroup]="loginForm"
          (ngSubmit)="clickRegister()"
        >
          <!-- Email -->
          <ion-input
            type="email"
            label="Email"
            label-placement="stacked"
            fill="outline"
            formControlName="email"
            name="email"
            required
          ></ion-input>
          <ion-note
            [style.color]="'red'"
            *ngIf="loginForm.get('email')?.hasError('required') && (loginForm.get('email')?.touched || loginForm.get('email')?.dirty)"
          >
            Ingrese su e-mail</ion-note
          >

          <!-- Contraseña -->
          <ion-input
            type="password"
            label="Contraseña"
            label-placement="stacked"
            fill="outline"
            formControlName="contrasena"
            name="contrasena"
            required
          ></ion-input>
          <ion-note
            [style.color]="'red'"
            *ngIf="loginForm.get('contrasena')?.hasError('required') && (loginForm.get('contrasena')?.touched || loginForm.get('contrasena')?.dirty)"
          >
            Ingrese una contraseña</ion-note
          >

          <ion-button expand="block" (click)="clickRegister()"
            >Login</ion-button
          >
        </form></ion-card-content
      ></ion-card
    ></ion-col
  >
</ion-row>
