body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f9f9f9;
}

ion-col {
  display: flex;

  flex-direction: column;
  align-items: center;
  max-width: 400px;
  margin: auto;
}
ion-row {
  margin-top: 2cm;
}
