body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f9f9f9;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  margin: 0 auto;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

ion-label {
  align-self: flex-start;
  margin: 5px 0;
  color: #6a1b9a !important; /* Forzar el color del texto */
}

input:focus {
  border-color: #6a1b9a;
  outline: none;
}

ion-button {
  --background: #6a1b9a !important; /* Color de fondo lila */
  --background-activated: #4a0072; /* Color al hacer clic */
  --color: white !important; /* Color del texto blanco */
  --border-radius: 5px;
  --box-shadow: none !important; /* Eliminar cualquier sombra */
  width: 100%;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s;
  border: none;
}

ion-button:hover {
  --background: #4a0072 !important; /* Color de fondo en hover */
}
ion-label {
  color: #6a1b9a !important; /* Color lila del label */
}

/* Ajustes adicionales en los campos de entrada */
ion-input {
  margin-top: 8px;
  color: #333; /* Color del texto en el input */
}

/* Asegura que el botón tenga el estilo deseado */
ion-button {
  --background: #6a1b9a;
  --background-activated: #4a0072;
  --color: white;
  --border-radius: 5px;
  width: 100%;
}
