<form id="loginForm" (ngSubmit)="this.onSubmit()">
  <h3>Inicio de Sesion</h3>
  <label for="email">Email</label>
  <input
    type="text"
    name="email"
    placeholder="email"
    [(ngModel)]="this.email"
  />
  <label for="password">Contraseña</label>

  <input
    type="password"
    name="password"
    placeholder="password"
    [(ngModel)]="this.password"
  />
  <button type="submit">Login</button>
</form>
<!---
<nb-form-field id="loginForm" (ngSubmit)="this.onSubmit()">
  <input [type]="getInputType()" nbInput />
  <button nbSuffix nbButton ghost (click)="toggleShowPassword()">
    <nb-icon
      [icon]="showPassword ? 'eye-outline' : 'eye-off-2-outline'"
      pack="eva"
      [attr.aria-label]="showPassword ? 'hide password' : 'show password'"
    >
    </nb-icon>
  </button>
</nb-form-field>
 --->
