<form [formGroup]="loginForm">
  <ion-header>
    <ion-toolbar>
      <ion-title>Inicio de Sesión</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-item>
      <ion-label position="floating">E-mail</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
    <ion-text
      color="danger"
      *ngIf="loginForm.get('email')?.hasError('required')"
    >
      <p>Ingrese su e-mail</p>
    </ion-text>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" formControlName="contrasena"></ion-input>
    </ion-item>
    <ion-text
      color="danger"
      *ngIf="loginForm.get('contrasena')?.hasError('required')"
    >
      <p>Ingrese una contraseña</p>
    </ion-text>

    <ion-button expand="full" color="primary" (click)="clickRegister()"
      >Registrarse</ion-button
    >
  </ion-content>
</form>
