<ion-row>
  <ion-col size="12" size-md="8" offset-md="2">
    <div class="detalle-contenido">
      <!-- Texto de la publicación -->
      <div class="detalle-texto">
        <ion-text color="dark">
          <h1 class="detalle-titulo">{{ publicacion?.titulo }}</h1>
        </ion-text>

        <ion-text color="medium">
          <p class="detalle-descripcion">{{ publicacion?.descripcion }}</p>
        </ion-text>

        <!-- Información adicional -->
        <div class="detalle-info">
          <ion-text color="medium">
            <p><strong>Ubicación:</strong> {{ publicacion?.ubicacion }}</p>
            <p><strong>Etiquetas:</strong></p>
          </ion-text>

          <div
            *ngIf="
              etiquetasNombres && etiquetasNombres.length > 0;
              else noEtiquetas
            "
          >
            <ion-text
              color="primary"
              *ngFor="let etiqueta of etiquetasNombres; let isLast = last"
            >
              <span>{{ etiqueta }}</span
              ><span *ngIf="!isLast">, </span>
            </ion-text>
          </div>

          <ng-template #noEtiquetas>
            <ion-text color="medium">No hay etiquetas disponibles.</ion-text>
          </ng-template>
        </div>

        <!-- Botón de contacto -->
        <div *ngIf="!sos" class="detalle-footer">
          <ion-button expand="block" color="primary" (click)="openWhatsApp()">
            Contactar por WhatsApp
          </ion-button>
        </div>
        <div *ngIf="sos" class="detalle-footer">
          <ion-button expand="block" color="primary" (click)="finalizar()">
            Maarcar publicacion como finalizada
          </ion-button>
        </div>
      </div>

      <!-- Imagen de la publicación -->
      <div class="detalle-imagen">
        <ion-img
          *ngIf="publicacion?.imagenes"
          [src]="getImagenUrl(publicacion?.imagenes)"
          alt="Imagen de la publicación"
          class="post-image"
        ></ion-img>
      </div>
    </div>
  </ion-col>
</ion-row>
