<div class="contenedor-scroll">
  <h1 class="detalle-titulo">{{ publicacion?.titulo }}</h1>

  <p class="detalle-descripcion">{{ publicacion?.descripcion }}</p>

  <div class="detalle-info">
    <p><strong>Ubicación:</strong> {{ publicacion?.ubicacion }}</p>
    <p>
      <strong>Fecha de creación:</strong>
      {{ publicacion?.fechaCreacion | date }}
    </p>
    <p><strong>Etiquetas:</strong></p>

    <div
      *ngIf="etiquetasNombres && etiquetasNombres.length > 0; else noEtiquetas"
    >
      <div *ngFor="let etiqueta of etiquetasNombres; let isLast = last">
        <span>{{ etiqueta }}</span
        ><span *ngIf="!isLast">, </span>
      </div>
    </div>

    <ng-template #noEtiquetas>
      <span>No hay etiquetas disponibles.</span>
    </ng-template>

    <img
      *ngIf="publicacion?.imagenes"
      [src]="
        'http://localhost/backend/uploads/publicaciones' + publicacion?.imagenes
      "
      alt="Imagen de la publicación"
      class="post-image"
    />

    <div class="detalle-footer">
      <ion-button color="primary" (click)="openWhatsApp()">
        Contactar por WhatsApp
      </ion-button>
    </div>
  </div>
</div>
