.publicaciones-container {
  margin-top: 2cm;
  justify-content: center;
}

.card-container {
  border-radius: 15px;
  width: 100%; /* Ocupa todo el espacio de la columna */
  max-width: 400px; /* Máximo ancho */
  margin: 0 auto; /* Centrar tarjeta en la columna */
  overflow: hidden;
  color: whitesmoke;
  height: auto;
}
