<ion-content class="form-container">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Crear Publicación</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <!-- Título -->
        <ion-item>
          <ion-label position="floating">Título</ion-label>
          <ion-input
            type="text"
            formControlName="titulo"
            placeholder="Ingresa el título"
          ></ion-input>
          <ion-text
            color="danger"
            *ngIf="form.get('titulo')?.invalid && form.get('titulo')?.touched"
          >
            El título es obligatorio.
          </ion-text>
        </ion-item>

        <!-- Descripción -->
        <ion-item>
          <ion-label position="floating">Descripción</ion-label>
          <ion-textarea
            formControlName="descripcion"
            placeholder="Ingresa la descripción"
          ></ion-textarea>
          <ion-text
            color="danger"
            *ngIf="
              form.get('descripcion')?.invalid &&
              form.get('descripcion')?.touched
            "
          >
            La descripción es obligatoria.
          </ion-text>
        </ion-item>

        <!-- Ubicación -->
        <ion-item>
          <ion-label position="floating">Ubicación</ion-label>
          <ion-input
            type="text"
            formControlName="ubicacion"
            placeholder="Ingresa la ubicación"
          ></ion-input>
          <ion-text
            color="danger"
            *ngIf="
              form.get('ubicacion')?.invalid && form.get('ubicacion')?.touched
            "
          >
            La ubicación es obligatoria.
          </ion-text>
        </ion-item>

        <!-- Etiquetas -->
        <ion-item>
          <ion-label position="floating">Etiquetas</ion-label>
          <ion-input
            type="text"
            formControlName="etiquetas"
            (click)="toggleTagsList()"
          ></ion-input>
          <ion-text
            color="danger"
            *ngIf="form.get('etiquetas')?.hasError('required')"
          >
            Ingrese sus etiquetas
          </ion-text>
        </ion-item>

        <ion-list *ngIf="showTagsList">
          <ion-item
            *ngFor="let tag of availableTagsList"
            (click)="selectTag(tag.etiqueta)"
          >
            {{ tag.etiqueta }}
          </ion-item>
        </ion-list>

        <div class="selected-tags">
          <ion-chip *ngFor="let tag of selectedTags">
            {{ tag }}
            <ion-icon name="close-circle" (click)="removeTag(tag)"></ion-icon>
          </ion-chip>
        </div>

        <!-- Selección de imagen -->
        <ion-item>
          <ion-label>Imagen</ion-label>
          <input type="file" (change)="fileChangeEvent($event)" />
        </ion-item>
        <image-cropper
          [imageChangedEvent]="imageChangedEvent"
          [maintainAspectRatio]="true"
          [aspectRatio]="4 / 3"
          format="png"
          (imageCropped)="imageCropped($event)"
          (imageLoaded)="imageLoaded($event)"
          (cropperReady)="cropperReady()"
          (loadImageFailed)="loadImageFailed()"
        ></image-cropper>
        <div class="cropped-preview">
          <img [src]="croppedImage" *ngIf="croppedImage" />
        </div>

        <!-- Enviar y Cancelar -->
        <div class="buttons">
          <ion-button expand="full" (click)="save()">Enviar</ion-button>
          <ion-button expand="full" color="danger" (click)="salir()"
            >Cancelar</ion-button
          >
        </div>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
