<div class="container">
  <mat-card class="card">
    <mat-card-header class="card__title">
      <mat-card-title>Registro</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form class="form" [formGroup]="formGroup" (ngSubmit)="clickRegister()">
        <mat-form-field appearance="outline">
          <mat-label>Titulo</mat-label>
          <input matInput type="text" formControlName="titulo" />
          <mat-error *ngIf="formGroup.get('titulo')?.hasError('required')">
            Ingrese un titulo
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Descripcion</mat-label>
          <input matInput type="text" formControlName="descripcion" />
          <mat-error *ngIf="formGroup.get('descripcion')?.hasError('required')">
            Ingrese una descripcion
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Ubicacion</mat-label>
          <input matInput type="text" formControlName="ubicacion" />
          <mat-error *ngIf="formGroup.get('ubicacion')?.hasError('required')">
            Ingrese su barrio y ciudad
          </mat-error>
        </mat-form-field>

        <!-- Campo de selección de intereses -->
        <mat-form-field appearance="outline">
          <mat-label>Etiquetas</mat-label>
          <input
            matInput
            type="text"
            formControlName="etiquetas"
            (input)="filtrarEtiquetas()"
            (focus)="mostrarEtiquetas = true"
            (blur)="mostrarEtiquetas = false"
          />
          <div
            *ngIf="mostrarEtiquetas && etiquetasDisponibles.length"
            class="suggestions-list"
          >
            <div
              *ngFor="let etiqueta of etiquetasDisponibles"
              (mousedown)="seleccionarEtiquetas(etiqueta)"
              class="suggestion-item"
            >
              {{ etiqueta }}
            </div>
          </div>
          <mat-error *ngIf="formGroup.get('etiquetas')?.hasError('required')">
            Ingrese una etiqueta
          </mat-error>
        </mat-form-field>

        <div class="selected-tags">
          <span *ngFor="let etiqueta of etiquetasSeleccionados" class="tag">
            {{ etiqueta}}
            <button
              type="button"
              (click)="eliminarEtiqueta(etiqueta)"
              class="btn-eliminar"
            >
              X
            </button>
          </span>
        </div>

        <div class="form-field">
          <label>Foto del producto</label>
          <input
            type="file"
            (change)="onFileSelected($event)"
            accept="image/*"
          />
          <mat-hint>Sube una foto del producto</mat-hint>
        </div>
        <button mat-raised-button color="primary" type="submit">Subir</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
