.image-upload-section {
  max-width: 40%;
  border-radius: 10px;
  margin-top: 10px;
}
.cropped-preview img {
  max-width: 40%;
  border-radius: 10px;
  margin-top: 10px;
}
ion-row {
  margin-top: 2cm;
  max-height: 85vh;
  overflow-y: auto;
}
