ion-toolbar {
  display: flex;
  justify-content: flex-start; /* Alinea los elementos al inicio, a la izquierda */
  align-items: center; /* Centra verticalmente los elementos */
  background-color: #e0bbe4; /* Color de fondo de la barra */
  padding: 0 10px; /* Espaciado para el padding si es necesario */
}

.header-content {
  display: flex;
  justify-content: flex-start; /* Alinea los elementos horizontalmente */
  align-items: center; /* Centra verticalmente los elementos */
  width: 100%; /* Asegura que ocupe el 100% del espacio disponible */
}

.header-content ion-title {
  margin-right: 10px; /* Espacio entre el título y la imagen */
}

.icono {
  width: 30px; /* Ajusta el tamaño de la imagen */
  height: auto; /* Mantiene la relación de aspecto */
}
