<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button (click)="toggleMenu()"></ion-menu-button>
    </ion-buttons>
    <div class="header-content">
      <ion-title>Mutual Purpose</ion-title>
      <img
        [src]="'http://localhost/backend/uploads/favicon.jpg'"
        alt="Publicación"
        class="icono"
      />
    </div>
  </ion-toolbar>
</ion-header>

<!-- Menú principal para usuarios logueados -->
<ion-menu
  *ngIf="isValidUser()"
  side="start"
  menuId="first"
  contentId="main-content"
>
  <ion-header>
    <ion-toolbar>
      <ion-title>Menú</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="closeMenu()">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather feather-x"
          >
            <line x1="18" y1="6" x2="6" y2="18"></line>
            <line x1="6" y1="6" x2="18" y2="18"></line>
          </svg>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <ion-list>
      <ion-item
        class="no-select"
        (click)="closeMenu()"
        [routerLink]="['/inicio']"
        >Inicio</ion-item
      >
      <ion-item
        class="no-select"
        [routerLink]="['/inicio/search']"
        (click)="closeMenu()"
        >Buscar
      </ion-item>
      <ion-item
        class="no-select"
        (click)="closeMenu()"
        [routerLink]="['/inicio/create']"
        >Crear publicacion</ion-item
      >
      <ion-item class="no-select" (click)="miPerfil()">Mi perfil</ion-item>
      <ion-item class="no-select" (click)="editarme()">Ajustes</ion-item>
      <ion-item class="no-select" (click)="logOut()">Salir</ion-item>
      <ion-item class="no-select" (click)="ayudaaaa()">Ayuda</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<!-- Menú alternativo para usuarios no logueados -->
<ion-menu
  *ngIf="!isValidUser()"
  side="start"
  menuId="second"
  contentId="main-content"
>
  <ion-header>
    <ion-toolbar>
      <ion-title>Bienvenido </ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="closeMenu()">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather feather-x"
          >
            <line x1="18" y1="6" x2="6" y2="18"></line>
            <line x1="6" y1="6" x2="18" y2="18"></line>
          </svg>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <ion-list>
      <ion-item
        class="no-select"
        (click)="closeMenu()"
        [routerLink]="['/auth/login']"
        >Iniciar Sesión</ion-item
      >
      <ion-item
        class="no-select"
        [routerLink]="['/auth/registro']"
        (click)="closeMenu()"
        >Registro</ion-item
      >

      <ion-item class="no-select" (click)="ayudaaaa()">Ayuda</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
