<div class="card">
  <div class="card-header">
    <img
      [src]="'http://localhost/backend/uploads/' + usuario()?.imagen"
      alt="Avatar"
      class="avatar"
    />
    <div class="user-info">
      <span class="username"
        >{{ usuario()?.nombre }} {{ usuario()?.apellido }}</span
      >
      <span class="timestamp">{{ publicacion()?.fechaCreacion }}</span>
    </div>
  </div>
  <div class="card-content">
    <p>{{ publicacion()?.descripcion }}</p>
    <img
      [src]="
        'http://localhost/backend/uploads/publicaciones' +
        publicacion()?.imagenes
      "
      alt="Publicación"
      class="post-image"
    />
  </div>
  <div class="card-footer">
    <a
      (click)="
        verPublicacion(publicacion()?.id_publicacion, publicacion()?.id_creador)
      "
      class="like-button"
      [routerLink]="['/inicio', publicacion()?.id_publicacion]"
    >
      Ver publicación
    </a>
  </div>
</div>
