<div class="perfil-container">
  <div class="perfil-header">
    <img [src]="usuario.imagen" alt="imagen de perfil" class="perfil-imagen" />
    <div class="perfil-info">
      <h2>{{ usuario.usuario }}</h2>
      <p>Email: {{ usuario.email }}</p>
    </div>
  </div>
  <p class="perfil-descripcion">{{ usuario.descripcion }}</p>
  <h3>Intereses</h3>
  <ul class="perfil-intereses">
    <li *ngFor="let interes of usuario.intereses" class="interes-item">
      {{ interes }}
    </li>
  </ul>
  <button (click)="editarme()">editar perfil</button>
</div>
<div *ngIf="publicaciones.length === 0">
  <h1>Aún no has publicado nada</h1>
  <a class="like-button" [routerLink]="['/inicio/crear']"
    >Crear mi primera publicacion</a
  >
</div>
<div *ngIf="publicaciones.length > 0">
  <div *ngFor="let publicacion of publicaciones; let i = index">
    <app-publicacion
      [publicacion]="publicacion"
      [showLink]="true"
    ></app-publicacion>
  </div>
</div>
