<div class="container">
  <mat-card class="card">
    <mat-card-header class="card__title">
      <mat-card-title>Registro</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form class="form" [formGroup]="formGroup" (ngSubmit)="clickRegister()">
        <mat-form-field appearance="outline">
          <mat-label>Nombres</mat-label>
          <input matInput type="text" formControlName="nombre" />
          <mat-error *ngIf="formGroup.get('nombre')?.hasError('required')">
            Ingrese sus nombres
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Apellidos</mat-label>
          <input matInput type="text" formControlName="apellido" />
          <mat-error *ngIf="formGroup.get('apellido')?.hasError('required')">
            Ingrese sus apellidos
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Usuario</mat-label>
          <input matInput type="text" formControlName="usuario" />
          <mat-error *ngIf="formGroup.get('usuario')?.hasError('required')">
            Ingrese un usuario
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>E-mail</mat-label>
          <input matInput type="email" formControlName="email" />
          <mat-error *ngIf="formGroup.get('email')?.hasError('required')">
            Ingrese su e-mail
          </mat-error>
          <mat-error *ngIf="formGroup.get('email')?.hasError('email')">
            Ingrese un e-mail válido
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Teléfono</mat-label>
          <input matInput type="text" formControlName="celular" />
          <mat-error *ngIf="formGroup.get('celular')?.hasError('required')">
            Ingrese su número de teléfono
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Contraseña</mat-label>
          <input matInput type="password" formControlName="contrasena" />
          <mat-error
            *ngIf="
              formGroup.get('contrasena')?.hasError('customPasswordValidator')
            "
          >
            La contraseña debe tener al menos una mayúscula, minúscula, símbolo,
            número y ser mayor a 8 caracteres
          </mat-error>
          <mat-error *ngIf="formGroup.get('contrasena')?.hasError('required')">
            Ingrese una contraseña
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Repetir contraseña</mat-label>
          <input
            matInput
            type="password"
            formControlName="confirmContrasena"
            [errorStateMatcher]="passwordStateMatcher"
          />
          <mat-error
            *ngIf="formGroup.get('confirmContrasena')?.hasError('required')"
          >
            Ingrese una contraseña
          </mat-error>
          <mat-error *ngIf="formGroup.hasError('crossConfirmPasswordError')">
            La contraseña no coincide, verifique
          </mat-error>
        </mat-form-field>

        <!-- Campo de selección de intereses -->
        <mat-form-field appearance="outline">
          <mat-label>Intereses</mat-label>
          <input
            matInput
            type="text"
            formControlName="intereses"
            (click)="toggleInterestsList()"
          />
          <div *ngIf="showInterestsList" class="suggestions-list">
            <div
              *ngFor="let interest of availableInterests"
              class="interest-option"
              (click)="selectInterest(interest)"
            >
              {{ interest }}
            </div>
          </div>
          <mat-error *ngIf="formGroup.get('intereses')?.hasError('required')">
            Ingrese sus intereses
          </mat-error>
        </mat-form-field>

        <div class="selected-interests">
          <div *ngFor="let interest of selectedInterests" class="interest-chip">
            {{ interest }}
            <span class="remove-interest" (click)="removeInterest(interest)"
              >&times;</span
            >
          </div>
        </div>

        <mat-form-field appearance="outline">
          <mat-label>Descripción</mat-label>
          <input matInput type="text" formControlName="descripcion" />
          <mat-error *ngIf="formGroup.get('descripcion')?.hasError('required')">
            Debes contarnos sobre ti
          </mat-error>
        </mat-form-field>

        <div class="form-field">
          <label>Foto de perfil</label>
          <input
            type="file"
            (change)="onFileSelected($event)"
            accept="image/*"
          />
          <mat-hint>Sube una imagen de perfil</mat-hint>
        </div>
        <button mat-raised-button color="primary" type="submit">
          Registrarse
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
