<ion-content class="ion-padding">
  <ion-card class="card">
    <ion-card-header>
      <ion-card-title>Registro</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <form [formGroup]="formGroup" (ngSubmit)="clickRegister()">
        <ion-item>
          <ion-label position="floating">Nombres</ion-label>
          <ion-input type="text" formControlName="nombre"></ion-input>
        </ion-item>
        <ion-text
          color="danger"
          *ngIf="formGroup.get('nombre')?.hasError('required')"
        >
          Ingrese sus nombres
        </ion-text>

        <ion-item>
          <ion-label position="floating">Apellidos</ion-label>
          <ion-input type="text" formControlName="apellido"></ion-input>
        </ion-item>
        <ion-text
          color="danger"
          *ngIf="formGroup.get('apellido')?.hasError('required')"
        >
          Ingrese sus apellidos
        </ion-text>

        <ion-item>
          <ion-label position="floating">Usuario</ion-label>
          <ion-input type="text" formControlName="usuario"></ion-input>
        </ion-item>
        <ion-text
          color="danger"
          *ngIf="formGroup.get('usuario')?.hasError('required')"
        >
          Ingrese un usuario
        </ion-text>

        <ion-item>
          <ion-label position="floating">E-mail</ion-label>
          <ion-input type="email" formControlName="email"></ion-input>
        </ion-item>
        <ion-text
          color="danger"
          *ngIf="formGroup.get('email')?.hasError('required')"
        >
          Ingrese su e-mail
        </ion-text>
        <ion-text
          color="danger"
          *ngIf="formGroup.get('email')?.hasError('email')"
        >
          Ingrese un e-mail válido
        </ion-text>

        <ion-item>
          <ion-label position="floating">Teléfono</ion-label>
          <ion-input type="text" formControlName="celular"></ion-input>
        </ion-item>
        <ion-text
          color="danger"
          *ngIf="formGroup.get('celular')?.hasError('required')"
        >
          Ingrese su número de teléfono
        </ion-text>

        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="password" formControlName="contrasena"></ion-input>
        </ion-item>
        <ion-text
          color="danger"
          *ngIf="
            formGroup.get('contrasena')?.hasError('customPasswordValidator')
          "
        >
          La contraseña debe tener al menos una mayúscula, minúscula, símbolo,
          número y ser mayor a 8 caracteres
        </ion-text>
        <ion-text
          color="danger"
          *ngIf="formGroup.get('contrasena')?.hasError('required')"
        >
          Ingrese una contraseña
        </ion-text>

        <ion-item>
          <ion-label position="floating">Repetir contraseña</ion-label>
          <ion-input
            type="password"
            formControlName="confirmContrasena"
          ></ion-input>
        </ion-item>
        <ion-text
          color="danger"
          *ngIf="formGroup.get('confirmContrasena')?.hasError('required')"
        >
          Ingrese una contraseña
        </ion-text>
        <ion-text
          color="danger"
          *ngIf="formGroup.hasError('crossConfirmPasswordError')"
        >
          La contraseña no coincide, verifique
        </ion-text>

        <!-- Campo de selección de intereses -->
        <ion-item>
          <ion-label position="floating">Intereses</ion-label>
          <ion-input
            type="text"
            formControlName="intereses"
            (click)="toggleInterestsList()"
          ></ion-input>
        </ion-item>
        <ion-list *ngIf="showInterestsList">
          <ion-item
            *ngFor="let interest of availableInterests"
            (click)="selectInterest(interest)"
          >
            {{ interest }}
          </ion-item>
        </ion-list>
        <ion-text
          color="danger"
          *ngIf="formGroup.get('intereses')?.hasError('required')"
        >
          Ingrese sus intereses
        </ion-text>

        <ion-list>
          <ion-chip *ngFor="let interest of selectedInterests">
            {{ interest }}
            <ion-icon
              name="close-circle"
              (click)="removeInterest(interest)"
            ></ion-icon>
          </ion-chip>
        </ion-list>

        <ion-item>
          <ion-label position="floating">Descripción</ion-label>
          <ion-input type="text" formControlName="descripcion"></ion-input>
        </ion-item>
        <ion-text
          color="danger"
          *ngIf="formGroup.get('descripcion')?.hasError('required')"
        >
          Debes contarnos sobre ti
        </ion-text>

        <ion-item>
          <ion-label>Foto de perfil</ion-label>
          <input
            type="file"
            (change)="onFileSelected($event)"
            accept="image/*"
          />
          <ion-text color="medium">Sube una imagen de perfil</ion-text>
        </ion-item>

        <ion-button expand="block" color="primary" (click)="clickRegister()"
          >Registrarse</ion-button
        >
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
