.image-upload-section {
  max-width: 25%;
  border-radius: 10px;
  margin-top: 10px;
}
.cropped-preview img {
  max-width: 25%;
  border-radius: 10px;
  margin-top: 10px;
}
.scrollable-form {
  max-height: 70vh;
  overflow-y: auto;
}
