<div class="perfil-container">
  <div class="perfil-header">
    <img [src]="usuario.imagen" alt="imagen de perfil" class="perfil-imagen" />
    <div class="perfil-info">
      <h2>{{ usuario.usuario }}</h2>
      <p>Email: {{ usuario.email }}</p>
    </div>
  </div>
  <p class="perfil-descripcion">{{ usuario.descripcion }}</p>
  <h3>Intereses</h3>
  <ul class="perfil-intereses">
    <li *ngFor="let interes of usuario.intereses" class="interes-item">
      {{ interes }}
    </li>
  </ul>
</div>
