<ion-content class="perfil-container">
  <div class="perfil-header">
    <ion-avatar class="perfil-imagen">
      <img [src]="usuario.imagen" alt="Imagen de perfil" />
    </ion-avatar>
    <div class="perfil-info">
      <ion-text color="dark">
        <h2>{{ usuario.usuario }}</h2>
        <p>Email: {{ usuario.email }}</p>
      </ion-text>
    </div>
  </div>

  <ion-text color="medium" class="perfil-descripcion">{{
    usuario.descripcion
  }}</ion-text>

  <h3>Intereses</h3>

  <ion-list class="perfil-intereses">
    <ion-item *ngFor="let interes of usuario.intereses" class="interes-item">
      <ion-label>{{ interes }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
