<ion-row class="perfil-contenedor">
  <ion-col size="12" size-md="8" offset-md="2">
    <div class="perfil-card">
      <!-- Imagen del usuario -->
      <div class="perfil-imagen">
        <ion-img
          *ngIf="usuario?.imagen"
          [src]="'http://localhost/backend/uploads/' + usuario.imagen"
          alt="Imagen del usuario"
          class="perfil-foto"
        ></ion-img>
      </div>

      <!-- Información personal -->
      <div class="perfil-info">
        <ion-text color="dark">
          <h1 class="perfil-titulo">
            {{ usuario.nombre }}{{ usuario.apellido }}
          </h1>
        </ion-text>
        <ion-text color="medium">
          <p class="perfil-descripcion">{{ usuario.descripcion }}</p>
        </ion-text>
      </div>

      <!-- Teléfono (Ubicación) -->
      <div class="perfil-detalles">
        <ion-text color="medium">
          <p><strong>Teléfono:</strong> {{ usuario.telefono }}</p>
        </ion-text>
      </div>
      <div class="perfil-detalles">
        <ion-text color="medium">
          <p><strong>E-mail:</strong> {{ usuario.email }}</p>
        </ion-text>
      </div>

      <!-- Etiquetas -->
      <div class="perfil-detalles">
        <ion-text color="medium">
          <p><strong>Intereses:</strong></p>
        </ion-text>
        <div
          *ngIf="
            usuario.intereses && usuario.intereses.length > 0;
            else noEtiquetas
          "
          class="perfil-etiquetas"
        >
          <ion-text
            color="primary"
            *ngFor="let interes of usuario.intereses; let isLast = last"
          >
            <span>{{ interes }}</span
            ><span *ngIf="!isLast">, </span>
          </ion-text>
        </div>
        <ng-template #noEtiquetas>
          <ion-text color="medium">No hay etiquetas disponibles.</ion-text>
        </ng-template>
      </div>

      <!-- Botón de acción -->
      <div class="perfil-acciones">
        <ion-button expand="block" color="primary" *ngIf="!sos">
          Contactar por WhatsApp
        </ion-button>
        <ion-button expand="block" color="primary" *ngIf="sos">
          Editar perfil
        </ion-button>
      </div>
    </div>
  </ion-col>
</ion-row>
